

*{
    margin: 0%;
    padding:0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
}
.sec{
    background-color: aqua;
}
h3{
    text-shadow: 0 0 3px #ff0000, 0 0 5px #04ff00;
    text-transform: uppercase;
    
}

h3:hover{
    transform: scale(1.2);
}

img{
    opacity: 0.7;
    border-radius: 25px 25px 0px 0px;
}

img:hover{
    opacity: 1;
    transform: scale(1.1);
}

@media screen and (max-width: 992px) {
    body {
      background-color: blue;
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 576px) {
    body {
      background-color: olive;
      img {
        width:20% 
    }

    }
  }